@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: 'Noto Sans', sans-serif;
  outline: none !important;
}
input[type="text"] {
  border: 1px solid #9A9A9A;
  border-radius: 4px;
  height: 26px;
}
.butn {
  background: #2D5181;
  padding: 10px 30px;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
}

.butn--empty {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}
.butn:hover {
  color: #FFF;
  text-decoration: none;
}
.butn--empty:hover {
  color: #000;
}


h2 {
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 10px;
}

body {
    background: #F5F5F6;
    padding-bottom: 50px;
}
header {
  background: #FFF;
  padding: 5px 0;
  height: 58px;
}
header .container {
  position: relative;
}

.logo {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 0;
  width: 144px;
  height: 40px;
  background: url(../img/logo.png) 85% 50% no-repeat;
  z-index: 50;
  background-size: 132%;
}
.main-menu {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  position: relative;
  top: -11px;
}
.main-menu li {
  display: inline-block;
  margin-right: 20px;
}
.main-menu li a {
  color: #000! important;
  text-decoration: none !important;
}
.header-right {
  float: right;
  position: relative;
  top: 17px;
}
.header-right .butn {
  margin-left: 20px;
  position: relative;
  top: -22px;
}
.header-icon {
  position: relative;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  top: -7px;
}
.header-icon span {
  font-size: 10px;
  color: #000 !important;
}
.header-icon__invis {
  display: none;
}
#search-button.open img {
    display: none;
}
#search-button.open .header-icon__invis {
    display: inline-block;
}
.top-search {
  display: none;
  position: absolute;
  top: 2px;
  left: 170px;
  background: #FFF;
  padding: 10px 0;
}
.top-search input {
  background: url(../img/search-solid.svg) no-repeat;
  padding-left: 30px;
  border: none;
  box-shadow: none;
  outline: none !important;
  border-radius: 4px;
}
.top-banner {
  width: 1140px;
  margin: 0 auto;
  height: 480px;
  background-size: 100% auto;
  display: flex;
  box-sizing: border-box;
  padding: 0 90px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}
.top-banner__content {

}
.top-banner__text1 {
  padding-bottom: 5px;
  font-size: 24px;
  color: #FFF;
}
.top-banner__text2 {
  font-size: 16px;
  padding-bottom: 30px;
    color: #FFF;
}


.popular-brands {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 20px;
}
.popular-brands__item {
  text-align: center;
  margin-bottom: 20px;

}
.popular-brands__item-image {
  background-size: 100% auto;
  background-repeat: no-repeat !important;
}
.popular-brands__item:hover .popular-brands__item-image .butn {
  opacity: 1;
}
.popular-brands__item-image {
  height: 400px;
  position: relative;
  margin-bottom: 20px;
}
.popular-brands__item:hover .popular-brands__item-image::before {
  display: block;
}
.popular-brands__item-image::before {
  content: '';
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.popular-brands__item-image .butn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -62px;
  opacity: 0;
  z-index: 2;
}
.popular-brands__item-text {
  font-size: 18px;
}
.new-goods {
}
.new-goods__item {
  height: 510px;
  text-decoration: none !important;
  color: #000;
  margin-bottom: 20px;
  color: #000 !important;
}

.new-goods__item-info {
  display: block;
  background: #FFF;
  padding-top: 20px;
}

.new-goods__item-img {
  display: block;
  background-size: cover;
  height: 400px;
}

.new-goods__item-title {
  padding: 0 10px;
  display: block;
}
.new-goods__item-size {
  padding: 5px 10px;
  display: block;
}
.new-goods__item-bottom {
  padding: 5px 10px;
  display: block;
  overflow: hidden;
}
.new-goods__item-price {
  float: left;
}
.new-goods__item-like {
  float: right;
  width: 50px;
  text-align: right;
}
.new-goods__item-like img {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  position: relative;
  top: -2px
}
.new-goods__item-like span {
  display: inline-block;
}


.breadcrumbs {
  color: #9A9A9A;
  padding: 20px 0;
}

.breadcrumbs a {
  text-decoration: none !important;
  color: #9A9A9A;
  display: inline-block;
}

.catalog__title {
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #000;
  line-height: 1.2;
}
.catalog__title-back {
  display: none;
}

.catalog__category-block {
  background: #FFF;
  padding: 20px;
}
.catalog__category-block-mob-close {
  display: none;
}

.catalog__category-list {

}
.catalog__category-list-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
.catalog__category-list-item {

}
.catalog__category-list-item a {
  color: #000;
  display: block;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
}
.catalog__category-list-item--has-items {

}
.catalog__category-list-item--has-items>a {
  text-decoration: underline;
}

.catalog__category-list-subitems {
  padding-left: 20px;
}
.catalog__category-list-subitems a {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  display: block;
}

.catalog__page .new-goods__item-price {
  font-weight: bold;
  font-size: 14px;
}

.catalog__filter-block {
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}
.catalog__filter {
  border-radius: 4px;
  border: 1px solid #000;
  display: inline-block;
  margin-right: 15px;

  position: relative;
  cursor: pointer;
}
.catalog__filter:after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 15px;
  height: 7px;
  background: url(../img/filter-arr-b.png) no-repeat;
}
.catalog__filter.current:after {
  background: url(../img/filter-arr-w.png) no-repeat;
}
.catalog__filter.current .catalog__filter-current {
  background: #000;
  color: #FFF;
}
.catalog__filter-current {
  padding: 5px 30px 5px 10px;
}
.catalog__filter-list {
  display: none;
  background: #FFF;
}
.catalog__filter.open .catalog__filter-list {
  display: block;
  position: absolute;
  top: 29px;
  padding: 10px;
  min-width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  padding-bottom: 10px;
}
.catalog__filter-list-item {

}

.catalog__filter-list-checkbox {
  clear: both;
  padding: 3px 0;
}
.catalog__filter-list-checkbox label {
  display: block;
}
.catalog__filter-list-checkbox input {
  float: right;
}

.catalog__filter-list-buttons {
  clear: both;
  padding-top: 5px;
}

.catalog__filter-list-buttons .butn {
  display: block;
  margin-bottom: 5px;
}

.catalog__pagination {
  padding: 27px 0;
  border-top: 1px solid #000;
  text-align: right;
}

.catalog__pagination {
  position: relative;
}
.catalog__pagination-prev {
  height: 31px;
  margin-left: 27px;
  display: inline-block;
  color: #000;
  padding: 4px 10px 0 40px;
  position: relative;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  height: 31px;
  text-decoration: none !important;
}
.catalog__pagination-prev::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/filter-arr-b.png) no-repeat;
  transform: rotate(90deg);
}
.catalog__pagination-next::after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  right: -2px;
  width: 20px;
  height: 20px;
  background: url(../img/filter-arr-b.png) no-repeat;
  transform: rotate(270deg);
}
.catalog__pagination-next {
  margin-left: 27px;
  display: inline-block;
  color: #000;
  padding: 4px 40px 0 10px;
  position: relative;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  height: 31px;
  text-decoration: none !important;
}
.catalog__pagination-nums {
  margin-left: 27px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  position: relative;
  top: 12px;
}
.catalog__pagination-nums a {
  display: inline-block;
  height: 31px;
  color: #000;
  text-decoration: none !important;
  line-height: 1.4;
  padding: 5px 15px;
  font-size: 14px;
  border-right: 1px solid #000;
  float: left;
  background: #FFF;
}
.catalog__pagination-nums a:last-child {
  border: none;
}
a.catalog__pagination-current {
  background: #000;
  color: #FFF;
}
.catalog__pagination-nums--mob {
  display: none;
}

.catalog__mob-panel {
  display: none;
}
.catalog__filter-current-close,
.catalog__filter-list-title,
.catalog__filter-block-mob-close {
  display: none;
}

.main-menu-mob {
  display: none;
}






.product__main-info {
  background: #FFF;
  padding: 8px;
  margin-bottom: 10px;
  position: relative;
}
.product__main-info h1 {
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  margin-top: 0;
}
.product__main-info-cat {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 19px;
}

.product__main-info-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 35px;
  padding-top: 15px;
  border-top: 0.3px solid #E6E6E6;
}
.product__main-info-buttons {
  padding-bottom: 44px;
}
.product__main-info-buttons .butn {
    display: block;
    margin-bottom: 7px;
}
.product__main-info-props {

}
.product__main-info-prop {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  position: relative;
}
.product__main-info-prop-sizeTable {
  position: absolute;
  right: 0;
  top: 0;
  color: #2D518;
}
.product__main-fav {
  background-image: url(../img/like.png);
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.product__main-info-prop-label {
  display: inline-block;
}
.product__main-info-prop-value {
  display: inline-block;
  font-weight: bold;
}
.product__main-info-description {
  padding-top: 15px;
  border-top: 0.3px solid #E6E6E6;
}
.product__main-info-description-title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}
.product__main-protect {
  margin-bottom: 10px;
  padding: 8px;
  overflow: hidden;
  background: #FFF;
}
.product__main-protect img {
  float: left;
}
.product__main-protect-inner {
  margin-left: 56px;
  font-size: 12px;
}
.product__main-score {
  margin-bottom: 10px;
  padding: 8px;
  background: #FFF;
  overflow: hidden;
}
.product__main-score-img {
  float: left;
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.product__main-score-inner {
  margin-left: 56px;
}
.stars-block {

}
.stars-block img {
  width: 14px;
}

.product__main-imgs {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__main-imgs .slick-dots {
  bottom: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
.product__main-imgs .slick-dots li {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}

.product__main-imgs .slick-dots li.slick-active button {
  background: #FFF;
}
.product__main-imgs .slick-dots li button {
  width: 9px;
  height: 9px;
  background: #999999;
  border-radius: 100%;
  border: none;
  padding: 0;
}
.product__main-imgs .slick-arrow {
  display: none !important;
}
.product__main-img {
  width: 49.5%;
  display: inline-block;
  margin-bottom: 5px;
}
.product__main-img img {
  width: 100%;
}
.product__subtitle {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: normal;
}
.product__more {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}
.product__more .butn {
  background: #FFF;
  color: #2D5181;
  border-color: #2D5181;
}

@media (max-width: 1170px) {
  .top-banner {
     width: 100%;
  }
}

@media (max-width: 1050px) {
  .main-menu { display: none;}
}
.mob-menu-button {
  display: none;
}
@media (max-width: 991px) {
  .product__main-imgs {
      display: block;
  }
  .mob-menu-button {
    cursor: pointer;
    display: inline-block;
    color: #000 !important;
    text-align: center;
    position: absolute;
    left: 16px;
    top: 10px;
    text-decoration: none !important;
  }
  .mob-menu-button span {
      font-size: 11px;

  }
  .logo {
    left: 43px;
    width: 128px;
  }
  .top-banner {
    height: 350px;
    text-align: center;
    background-size: 100%;
    padding: 0 20px;
  }
  .new-goods__item {
    height: 375px;
    background-size: auto 100% !important;
  }
  .new-goods__item-img {
    height: 250px;

  }
  .top-search {
    display: block;
    padding: 14px 0 3px;
    position: static;
    width: 100%;
  }
  .top-search input {
    background-color: #EEEEEE;
    width: 100%;
    height: 35px;
    padding-left: 40px;
    background-position: 6px 50%;
  }
  header {
    height: 102px;
    background: #FFF;
  }
  .header-right .butn {
    top: 0;
    padding: 3px 30px;
  }
  .header-right .header-icon {
    display: none;
  }

  .catalog__pagination-nums {
    display: none;
  }
  .catalog__pagination-prev {
    float: left;
    margin-left: 0;
  }
  .catalog__pagination-nums--mob {
    display: block;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 33px;
  }

  .breadcrumbs {
    display: none;

  }

  .catalog__title {
    background: #FFF;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    padding-top: 6px;
    padding-bottom: 10px;
    padding: 6px 0 10px 10px;
    border-bottom: 3px solid #F5F5F6;;
    border-top: 3px solid #F5F5F6;;
    margin: 0 -15px;
  }
  .catalog__title-back {
    display: block;
    position: absolute;
    top: 13px;
    left: 14px;
    width: 16px;
    height: 10px;
    background: url(../img/filter-arr-b.png) no-repeat;
    transform: rotate(90deg);
  }
  .catalog__mob-panel {
    display: block;
    font-size: 16px;
    line-height: 22px;
    background: #FFF;
    padding: 11px 0;
    color: #000;
    margin: 0 -15px;
  }
  .catalog__mob-panel:after {
    content: "";
    display: table;
    clear: both;
  }
  .catalog__mob-panel-section {
    float: left;
    color: #000 !important;
    text-decoration: none !important;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
  }
  .catalog__mob-panel-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 104%;
    width: 16px;
    height: 10px;
    background: url(../img/filter-arr-b.png) no-repeat;
  }
  .catalog__mob-panel-filters {
    float: right;
    color: #000 !important;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    position: relative;
    left: -35px;
  }
  .catalog__mob-panel-filters:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 107%;
    width: 16px;
    height: 10px;
    background: url(../img/filter-arr-b.png) no-repeat;
    transform: rotate(270deg);
  }
  .catalog__category-block {
    display: none;
  }
  .catalog__category-block.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 100;
    padding: 0;
  }
  .catalog__category-list-title {
    padding: 10px 30px;
    border-bottom: 1px solid #C8C8C8;
    margin-bottom: 0;
  }
  .catalog__filter-block {
    display: none;
  }
  .catalog__filter-block.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 100;
    padding: 0;
  }
  .catalog__page {
    padding-top: 20px;
  }
  .catalog__filter-block-mob-close,
  .catalog__category-block-mob-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .catalog__filter-block-mob-close {

  }
  .catalog__category-list-item a {
    padding: 10px 30px;
    border-bottom: 1px solid #EBEBEB;
  }
  .catalog__category-list-subitems {
    padding-left: 0;
  }
  .catalog__category-list-subitems a {
    display: block;
    padding: 10px 50px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 13px;
  }
  .catalog__filter-list-title {
    text-align: center;
    display: block;
  }
  .catalog__filter {
    border: none;
    background: #FFF !important;
    display: block;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 30px;
    margin: 0;
  }
  .catalog__filter.current .catalog__filter-current {
    background: #FFF;
    color: #000;
  }
  .catalog__filter:after {
    display: none;
  }
  .catalog__filter.open  {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 100;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
  }

  .catalog__filter.open .catalog__filter-list {
    background: #FFF;
    border: none;
    position: static;
    padding: 0;
  }

  .catalog__filter-list-item {
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 30px;
  }
  .catalog__filter-list-checkbox {
    padding: 10px 30px;
    border-bottom: 1px solid #EBEBEB;
  }
  .catalog__filter.open .catalog__filter-list-content {
    padding: 20px;
  }

  .catalog__filter.open .catalog__filter-current {
    border-bottom: 3px solid #EBEBEB;
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
  }
  .catalog__filter.open .catalog__filter-current-close {
    position: absolute;
    left: 8px;
    top: 27px;
    background: url(../img/filter-arr-b.png) no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }

  .new-goods__item-title {
    line-height: 1;
  }

  .catalog__filter.open .catalog__filter-list input[type="text"] {
    width: 125px;
  }
  .catalog__filter-list-buttons {
    padding-top: 50px;
  }
  .catalog__filter-list-buttons .butn {
    width: 49%;
    display: inline-block;
  }

  .main-menu-mob {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 300;
  }

  .main-menu-mob.open {
    display: block;
  }
  .main-menu-mob__head {
    height: 82px;
    border-bottom: 1px solid #C8C8C8;
  }
  .main-menu-mob__head .logo {
    width: 153px;
    position: absolute;
    top: 17px;
    left: 16px;
  }
  .main-menu-mob__close {
    position: absolute;
    top: 34px;
    right: 31px;
    width: 14px;
    cursor: pointer;
  }
  .main-menu-mob__body {

  }
  .main-menu-mob__body>ul>li>a {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 15px;

  }
  .main-menu-mob__body>ul>li ul li a {
    padding-left: 35px;
    padding-right: 16px;
    border-bottom: 1px solid #EBEBEB;
    background: #F8F8F8;

  }
  .main-menu-mob__body>ul>li ul li ul li a {
    padding-left: 61px;
    font-size: 13px;
  }

  .main-menu-mob__body>ul {
    display: block;
  }
  .main-menu-mob__body>ul ul {
    display: none;
  }
  .main-menu-mob__body>ul .open>ul {
    display: block;
  }
  .main-menu-mob__item-hasChildren {
    position: relative;
    cursor: pointer;
  }
  .main-menu-mob__item-hasChildren:after {
    content: '';
    display: block;
    position: absolute;
    right: 30px;
    top: 23px;
    width: 14px;
    height: 20px;
    background: url(../img/filter-arr-b.png) no-repeat;
  }
  .main-menu-mob__item-hasChildren.open:after {
    right: 30px;
    top: 8px;
    transform: rotate(180deg);
  }

  .main-menu-mob__body a {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    color: #000;
    text-decoration: none !important;
  }
  .main-menu-mob__body ul {
    list-style: none;
    padding-left: 0;
  }
  .main-menu-mob__item-hasChildren {

  }

}

@media (max-width: 768px) {

}

@media (max-width: 530px) {
  .top-banner {
    background-size: auto 100%;
  }

}
